.meta_box_for_url {
  display: flex;
  gap: 20px;
}
.cfaLoader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  display: flex;
}
